In [218]:
import pandas as pd

In [220]:
df = pd.read_csv('/Users/leenaomrani/Desktop/final-project/all_jobs_data_france.csv',index_col=False)
df1= pd.read_csv('/Users/leenaomrani/Desktop/final-project/tags_jobs_france.csv',index_col=False)

In [221]:
merged_df = pd.merge(df, df1, on='id_offre')

In [222]:
merged_df.shape

(5057, 18)

In [223]:
merged_df

,Unnamed: 0_x,id_offre,entreprise,type_contrat,modalites_de_tetetravail,url,titre_job,date_publication,url_offre_x,descriptif_job,Ville,Code Postale,Job Category,skills,Unnamed: 0_y,url_offre_y,tags_secteur,tags_education
0,1,33126348,Expleo,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/331263...,Docteur - R&D - Data ...,21/04/2023,https://www.hellowork.com/fr-fr/emplois/331263...,En savoir plus :Expleo propose une offre ...,Montigny,78.0,Data Scientist,"{'R', 'Python'}",655,https://www.hellowork.com/fr-fr/emplois/331263...,NaN,
1,3,28529628,Metsys,CDI ...,Télétravail partiel,https://www.hellowork.com/fr-fr/emplois/285296...,Consultant Senior Dat...,30/04/2023,https://www.hellowork.com/fr-fr/emplois/285296...,Nous recherchons un(e) Consultant(e) seni...,Strasbourg,67.0,Data Lead,"{'SQL', 'Power Bi'}",231,https://www.hellowork.com/fr-fr/emplois/285296...,NaN,
2,4,34026902,Inetum,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/340269...,Data Tech Lead ...,04/11/2023,https://www.hellowork.com/fr-fr/emplois/340269...,"Nous sommes une ESN agile, un groupe inte...",Lyon,69.0,Data Lead,"{'Hadoop', 'java', 'Hive', 'scala', 'python'}",86,https://www.hellowork.com/fr-fr/emplois/340269...,NaN,
3,7,30169855,Guarani,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/301698...,Business Analyst Data...,04/12/2023,https://www.hellowork.com/fr-fr/emplois/301698...,Présentation Entreprise :GUAR...,Nantes,44.0,Business Analyst,"{'SQL', 'Qlikview', 'SAS', 'R', 'Tableau', 'Py...",97,https://www.hellowork.com/fr-fr/emplois/301698...,Secteur informatique • ESN ...,
4,8,30175625,Comptalents,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/301756...,Assistant Comptable D...,04/12/2023,https://www.hellowork.com/fr-fr/emplois/301756...,Besoin de changement ? Ce cab...,Tours,37.0,Data Analyst,{'RGPD'},95,https://www.hellowork.com/fr-fr/emplois/301756...,Services aux Entreprises ...,Bac+ 2 Bac+ 3Bac+ 4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5052,12637,33665699,Direction Générale de la Sécurité Extérieure,CDI,NaN,https://www.hellowork.comhttps://www.hellowork...,Ingénieur R&D en Code...,04/01/2023,https://www.hellowork.com/fr-fr/emplois/336656...,Qui sont-ils ?La DGSE est le ...,Paris,75.0,Data Engineer,{'R'},1111,https://www.hellowork.com/fr-fr/emplois/336656...,Service public des collectivi...,
5053,12644,34360681,CNRS,CDD,NaN,https://www.hellowork.comhttps://www.hellowork...,Thèse Cognition et Ex...,19/04/2023,https://www.hellowork.com/fr-fr/emplois/343606...,- Activités du poste :Mission...,Toulouse,31.0,Data Analyst,set(),1115,https://www.hellowork.com/fr-fr/emplois/343606...,Service public des collectivi...,cca cca
5054,12645,34360659,CNRS,CDD,NaN,https://www.hellowork.comhttps://www.hellowork...,Contrat Post-Doctoral...,19/04/2023,https://www.hellowork.com/fr-fr/emplois/343606...,La ou le chercheur.se aura po...,Toulouse,31.0,Data Analyst,set(),1116,https://www.hellowork.com/fr-fr/emplois/343606...,Service public des collectivi...,cca cca
5055,12650,33717258,Avery Dennison,CDI,NaN,https://www.hellowork.comhttps://www.hellowork...,Stage - Un.e Ingénieu...,04/03/2023,https://www.hellowork.com/fr-fr/emplois/337172...,Avery Dennison Corporation (N...,Champ,38.0,Data Engineer,set(),1119,https://www.hellowork.com/fr-fr/emplois/337172...,Industrie Manufacturière ...,Bac+ 5
5056,12688,32404812,INRIA,CDI,Télétravail partiel,https://www.hellowork.comhttps://www.hellowork...,Ingénieur.e Développe...,04/06/2023,https://www.hellowork.com/fr-fr/emplois/324048...,Job detailsJob TypePermanentF...,Paris,75.0,Data Engineer,"{'Pandas', 'Tensorflow', 'TensorFlow', 'PyTorc...",1157,https://www.hellowork.com/fr-fr/emplois/324048...,Service public des collectivi...,cca cca

In [224]:
df=merged_df.drop('Unnamed: 0_y',axis=1)

In [225]:
df1=df.drop('Unnamed: 0_x',axis=1)

In [229]:
df.shape

(5057, 17)

In [234]:
df = df1.drop(df1.index[df1['skills'] == set])

In [ ]:
df2=df.drop('url_offre_x',axis=1)

In [ ]:
df=df2.drop('url_offre_y',axis=1)

In [238]:
print(df.dtypes)

id_offre                      int64
entreprise                   object
type_contrat                 object
modalites_de_tetetravail     object
url                          object
titre_job                    object
date_publication             object
url_offre_x                  object
descriptif_job               object
Ville                        object
Code Postale                float64
Job Category                 object
skills                       object
url_offre_y                  object
tags_secteur                 object
tags_education               object
dtype: object

In [353]:
df=df1

In [354]:
df.head()

,id_offre,entreprise,type_contrat,modalites_de_tetetravail,url,titre_job,date_publication,url_offre_x,descriptif_job,Code Postale,...,tags_education,programming_languages,tools,cloud,libraries,frameworks,Ville_duplicate,Région,Code Postale,Code Postale_duplicate
0,33126348,Expleo,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/331263...,Docteur - R&D - Data ...,21/04/2023,https://www.hellowork.com/fr-fr/emplois/331263...,En savoir plus :Expleo propose une offre ...,Montigny,...,,[R],[],[],[],[],Montigny,Île-de-France,78,78
1,28529628,Metsys,CDI ...,Télétravail partiel,https://www.hellowork.com/fr-fr/emplois/285296...,Consultant Senior Dat...,30/04/2023,https://www.hellowork.com/fr-fr/emplois/285296...,Nous recherchons un(e) Consultant(e) seni...,Strasbourg,...,,[],[],[],[],[],Strasbourg,Alsace,67,67
2,34026902,Inetum,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/340269...,Data Tech Lead ...,04/11/2023,https://www.hellowork.com/fr-fr/emplois/340269...,"Nous sommes une ESN agile, un groupe inte...",Lyon,...,,[],[],[],[],[],Lyon,Rhône-Alpes,69,69
3,30169855,Guarani,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/301698...,Business Analyst Data...,04/12/2023,https://www.hellowork.com/fr-fr/emplois/301698...,Présentation Entreprise :GUAR...,Nantes,...,,[R],[],[],[],[],Nantes,Pays de la Loire,44,44
4,30175625,Comptalents,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/301756...,Assistant Comptable D...,04/12/2023,https://www.hellowork.com/fr-fr/emplois/301756...,Besoin de changement ? Ce cab...,Tours,...,Bac+ 2 Bac+ 3Bac+ 4,[R],[],[],[],[],Tours,Centre,37,37

In [355]:
df.to_csv('/Users/leenaomrani/Desktop/final-project/jobs.csv')

In [241]:
df1=df.drop_duplicates(subset=['id_offre'])

In [242]:
df=df1

In [243]:
df.shape

(4163, 16)

In [ ]:
df['tags_education'].value_counts()

                       3020
Bac+ 5                  570
Bac+ 2 Bac+ 3Bac+ 4     172
Bac+ 3Bac+ 4 Bac+ 5     137
Bac+ 5 17a              109
cca cca                  34
c ca                     25
ca Bac+ 5                17
ca Bac+ 3Bac+ 4           6
aa Bac+ 5                 6
Bac+ 5 +7a                6
Bac Bac+ 2                5
Bac+ 3Bac+ 4 17a          5
 Bac+ 5                   4
Bac+ 5 1a                 4
 Bac+ 3Bac+ 4             4
cca Bac+ 5                4
B Bac                     3
aaa Bac+ 5                3
Bac+ 2 17a                3
acBaac Bac+ 5             2
ca Bac+ 2                 2
c Bac+ 5                  2
a Bac+ 5                  2
 Bac+ 2                   2
Bac+ 2 1a                 1
aa Bac+ 2                 1
ca caa                    1
Bac                       1
a Bac+ 2                  1
cc Bac+ 2                 1
aacc Bac+ 5               1
aa Bac+ 3Bac+ 4           1
Bac 17a                   1
aaa Bac+ 2                1
a Bac+ 3Bac+ 4            1
ca Ba                     1
17a                       1
cca aca                   1
Name: tags_education, dtype: int64

In [ ]:
df['id_offre'] = df['id_offre'].apply(tuple)
duplicate_rows = df[df.duplicated()]

TypeError: 'int' object is not iterable

In [ ]:
def set_string_to_list(s):
    if isinstance(s, str):
        s = s.strip('{}')
        s = s.replace("'", '')
        return [x.strip() for x in s.split(',')]
    return []

# apply the function to the column containing set strings
df['skills'] = df['skills'].apply(set_string_to_list)

In [ ]:
df['Code Postale'] = df['Code Postale'].astype(str)

In [ ]:
df.to_csv('/Users/leenaomrani/Desktop/final-project/results/all_jobs_tags_france.csv')

In [356]:
programming_languages = ['Python', 'SQL', 'Java', 'Scala', 'C++', 'JavaScript', 'Perl', 'MATLAB', 'Ruby', 'PHP', 'Swift', 'Objective-C', 'Go', 'Kotlin', 'Julia', 'Haskell', 'Shell scripting', 'Bash', 'R']
tools = ['Excel', 'Power BI', 'Tableau', 'QlikView', 'Looker', 'Metabase', 'Dataiku', 'Alteryx', 'Talend', 'Informatica', 'Microsoft Excel', 'Google Sheets', 'OpenRefine', 'RapidMiner', 'KNIME']
cloud = ['AWS','Azure', 'Google Cloud Platform', 'Docker', 'Kubernetes']
libraries = ['Pandas', 'NumPy', 'SciPy', 'Scikit-learn', 'TensorFlow', 'PyTorch', 'Keras', 'Matplotlib', 'Seaborn', 'Bokeh', 'Plotly']
frameworks = ['Django', 'Flask', 'FastAPI', 'Streamlit', 'Airflow', 'Apache Spark', 'Hadoop', 'Hive', 'Kafka', 'Storm', 'Flink', 'Cassandra', 'Elasticsearch', 'MongoDB', 'MySQL', 'PostgreSQL', 'Oracle']

In [357]:
def categorize_skills(skills):
    skill_categories = {'programming_languages': [], 'tools': [], 'cloud': [], 'libraries': [], 'frameworks': []}
    for skill in skills:
        if skill in programming_languages:
            skill_categories['programming_languages'].append(skill)
        elif skill in tools:
            skill_categories['tools'].append(skill)
        elif skill in cloud:
            skill_categories['cloud'].append(skill)
        elif skill in libraries:
            skill_categories['libraries'].append(skill)
        elif skill in frameworks:
            skill_categories['frameworks'].append(skill)
    return pd.Series(skill_categories)

# Apply the custom function to the skills column
df[['programming_languages', 'tools', 'cloud', 'libraries', 'frameworks']] = df['skills'].apply(categorize_skills)

In [246]:
df

,id_offre,entreprise,type_contrat,modalites_de_tetetravail,url,titre_job,date_publication,url_offre_x,descriptif_job,Ville,...,Job Category,skills,url_offre_y,tags_secteur,tags_education,programming_languages,tools,cloud,libraries,frameworks
0,33126348,Expleo,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/331263...,Docteur - R&D - Data ...,21/04/2023,https://www.hellowork.com/fr-fr/emplois/331263...,En savoir plus :Expleo propose une offre ...,Montigny,...,Data Scientist,"{'R', 'Python'}",https://www.hellowork.com/fr-fr/emplois/331263...,NaN,,[R],[],[],[],[]
1,28529628,Metsys,CDI ...,Télétravail partiel,https://www.hellowork.com/fr-fr/emplois/285296...,Consultant Senior Dat...,30/04/2023,https://www.hellowork.com/fr-fr/emplois/285296...,Nous recherchons un(e) Consultant(e) seni...,Strasbourg,...,Data Lead,"{'SQL', 'Power Bi'}",https://www.hellowork.com/fr-fr/emplois/285296...,NaN,,[],[],[],[],[]
2,34026902,Inetum,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/340269...,Data Tech Lead ...,04/11/2023,https://www.hellowork.com/fr-fr/emplois/340269...,"Nous sommes une ESN agile, un groupe inte...",Lyon,...,Data Lead,"{'Hadoop', 'java', 'Hive', 'scala', 'python'}",https://www.hellowork.com/fr-fr/emplois/340269...,NaN,,[],[],[],[],[]
3,30169855,Guarani,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/301698...,Business Analyst Data...,04/12/2023,https://www.hellowork.com/fr-fr/emplois/301698...,Présentation Entreprise :GUAR...,Nantes,...,Business Analyst,"{'SQL', 'Qlikview', 'SAS', 'R', 'Tableau', 'Py...",https://www.hellowork.com/fr-fr/emplois/301698...,Secteur informatique • ESN ...,,[R],[],[],[],[]
4,30175625,Comptalents,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/301756...,Assistant Comptable D...,04/12/2023,https://www.hellowork.com/fr-fr/emplois/301756...,Besoin de changement ? Ce cab...,Tours,...,Data Analyst,{'RGPD'},https://www.hellowork.com/fr-fr/emplois/301756...,Services aux Entreprises ...,Bac+ 2 Bac+ 3Bac+ 4,[R],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5052,33665699,Direction Générale de la Sécurité Extérieure,CDI,NaN,https://www.hellowork.comhttps://www.hellowork...,Ingénieur R&D en Code...,04/01/2023,https://www.hellowork.com/fr-fr/emplois/336656...,Qui sont-ils ?La DGSE est le ...,Paris,...,Data Engineer,{'R'},https://www.hellowork.com/fr-fr/emplois/336656...,Service public des collectivi...,,[R],[],[],[],[]
5053,34360681,CNRS,CDD,NaN,https://www.hellowork.comhttps://www.hellowork...,Thèse Cognition et Ex...,19/04/2023,https://www.hellowork.com/fr-fr/emplois/343606...,- Activités du poste :Mission...,Toulouse,...,Data Analyst,set(),https://www.hellowork.com/fr-fr/emplois/343606...,Service public des collectivi...,cca cca,[],[],[],[],[]
5054,34360659,CNRS,CDD,NaN,https://www.hellowork.comhttps://www.hellowork...,Contrat Post-Doctoral...,19/04/2023,https://www.hellowork.com/fr-fr/emplois/343606...,La ou le chercheur.se aura po...,Toulouse,...,Data Analyst,set(),https://www.hellowork.com/fr-fr/emplois/343606...,Service public des collectivi...,cca cca,[],[],[],[],[]
5055,33717258,Avery Dennison,CDI,NaN,https://www.hellowork.comhttps://www.hellowork...,Stage - Un.e Ingénieu...,04/03/2023,https://www.hellowork.com/fr-fr/emplois/337172...,Avery Dennison Corporation (N...,Champ,...,Data Engineer,set(),https://www.hellowork.com/fr-fr/emplois/337172...,Industrie Manufacturière ...,Bac+ 5,[],[],[],[],[]
5056,32404812,INRIA,CDI,Télétravail partiel,https://www.hellowork.comhttps://www.hellowork...,Ingénieur.e Développe...,04/06/2023,https://www.hellowork.com/fr-fr/emplois/324048...,Job detailsJob TypePermanentF...,Paris,...,Data Engineer,"{'Pandas', 'Tensorflow', 'TensorFlow', 'PyTorc...",https://www.hellowork.com/fr-fr/emplois/324048...,Service public des collectivi...,cca cca,[],[],[],[],[]

In [249]:
df['Code Postale_duplicate'] = df.loc[:, 'Code Postale']

/var/folders/qn/mtl559_57tn77j5y4wb_w49c0000gn/T/ipykernel_17813/2160001505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Code Postale_duplicate'] = df.loc[:, 'Code Postale']

In [250]:
df['Code Postale_duplicate']

0       78.0
1       67.0
2       69.0
3       44.0
4       37.0
        ...
5052    75.0
5053    31.0
5054    31.0
5055    38.0
5056    75.0
Name: Code Postale_duplicate, Length: 4163, dtype: float64

In [265]:
df2=df1.drop('Code Postale_duplicate',axis=1)

KeyError: "['Code Postale_duplicate'] not found in axis"

In [252]:
import numpy as np

In [262]:
df1['Région']=df1['Région'].fillna(0)
df1['Région']=df1['Région'].astype(np.int64)

In [259]:
df1=df.rename(columns={'Code Postale_duplicate': 'Région'})

In [268]:
df2=df1.drop('Code Postale_duplicate',axis=1)

KeyError: "['Code Postale_duplicate'] not found in axis"

In [310]:
df1.head()

,id_offre,entreprise,type_contrat,modalites_de_tetetravail,url,titre_job,date_publication,url_offre_x,descriptif_job,Code Postale,...,tags_education,programming_languages,tools,cloud,libraries,frameworks,Ville_duplicate,Région,Code Postale,Code Postale_duplicate
0,33126348,Expleo,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/331263...,Docteur - R&D - Data ...,21/04/2023,https://www.hellowork.com/fr-fr/emplois/331263...,En savoir plus :Expleo propose une offre ...,Montigny,...,,[R],[],[],[],[],Montigny,Île-de-France,78,78
1,28529628,Metsys,CDI ...,Télétravail partiel,https://www.hellowork.com/fr-fr/emplois/285296...,Consultant Senior Dat...,30/04/2023,https://www.hellowork.com/fr-fr/emplois/285296...,Nous recherchons un(e) Consultant(e) seni...,Strasbourg,...,,[],[],[],[],[],Strasbourg,67,67,67
2,34026902,Inetum,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/340269...,Data Tech Lead ...,04/11/2023,https://www.hellowork.com/fr-fr/emplois/340269...,"Nous sommes une ESN agile, un groupe inte...",Lyon,...,,[],[],[],[],[],Lyon,69,69,69
3,30169855,Guarani,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/301698...,Business Analyst Data...,04/12/2023,https://www.hellowork.com/fr-fr/emplois/301698...,Présentation Entreprise :GUAR...,Nantes,...,,[R],[],[],[],[],Nantes,44,44,44
4,30175625,Comptalents,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/301756...,Assistant Comptable D...,04/12/2023,https://www.hellowork.com/fr-fr/emplois/301756...,Besoin de changement ? Ce cab...,Tours,...,Bac+ 2 Bac+ 3Bac+ 4,[R],[],[],[],[],Tours,37,37,37

In [307]:
print(df1['Région'].dtypes)

int64

In [308]:
df1['Région'] = df1['Région'].astype(str)

In [ ]:
df1.to_csv('')

In [303]:
df1.columns.values[9]='Code Postale'

In [315]:
df1['Région'] = df1['Région'].replace(['78', '75','94','92','91','95','77'], 'Île-de-France')

In [316]:
df1['Région']=df1['Région'].replace(['93'],'Île-de-France')

In [317]:
df1['Région']=df1['Région'].replace(['44','49','85','53','72'],'Pays de la Loire')

In [318]:
df1['Région']=df1['Région'].replace(['37','41','28','45','18','36'],'Centre')

In [319]:
df1['Région']=df1['Région'].replace(['69','1','42','7','26','38','73','74'],'Rhône-Alpes')

In [320]:
df1['Région']=df1['Région'].replace(['9','31','65','32','81','82','12','46'],'Midi-Pyrénées')

In [321]:
df1['Région']=df1['Région'].replace(['59','62'],'Nord-Pas-de-Calais')

In [322]:
df1['Région']=df1['Région'].replace(['35','22','56','29'],'Bretagne')

In [323]:
df1['Région']=df1['Région'].replace(['33','24','47','40','64'],'Aquitaine')

In [324]:
df1['Région']=df1['Région'].replace(['34','11','66','30','48'],'Languedoc-Roussillon')

In [325]:
df1['Région']=df1['Région'].replace(['87','19','23'],'Limousin')

In [326]:
df1['Région']=df1['Région'].replace(['3','63','15','43'],'Auvergne')

In [327]:
df1['Région']=df1['Région'].replace(['79','17','16','86'],'Poitou-Charentes')

In [328]:
df1['Région']=df1['Région'].replace(['84','13','5','4','6','83'],"Provence-Alpes-Côte-d'Azur")

In [329]:
df1['Région']=df1['Région'].replace(['25','70','90','39'],'Franche-Comté')

In [330]:
df1['Région']=df1['Région'].replace(['67','68'],'Alsace')

In [331]:
df1['Région']=df1['Région'].replace(['57','55','54','88'],'Lorraine')

In [332]:
df1['Région']=df1['Région'].replace(['89','58','21','71'],'Bourgogne')

In [333]:
df1['Région']=df1['Région'].replace(['51','10','52','8'],'Champagne-Ardenne')

In [334]:
df1['Région']=df1['Région'].replace(['2','60','80'],'Picardie')

In [335]:
df1['Région']=df1['Région'].replace(['27','76'],'Haute-Normandie')

In [336]:
df1['Région']=df1['Région'].replace(['50','14','61'],'Basse-Normandie')

In [337]:
df1['Région']=df1['Région'].replace(['2B','2A'],'Corse')

In [338]:
df = df.drop([1, 2])

In [339]:
top_50 = df1['entreprise'].value_counts().nlargest(50)

In [342]:
df_new=df1[['entreprise','tags_secteur']]

In [343]:
df_new.head(50)

,entreprise,tags_secteur
0,Expleo,Secteur informatique • ESN
1,Metsys,Secteur informatique • ESN
2,Inetum,Secteur informatique • ESN
3,Guarani,Secteur informatique • ESN ...
4,Comptalents,Services aux Entreprises ...
5,PERSUADERS RH,Services aux Entreprises ...
6,Seenovate,Services aux Entreprises ...
7,Promovacances,Restauration
8,Ethika,Services aux Entreprises ...
9,DenAvel,Services aux Entreprises
10,Chronopost,Services aux Personnes • Part...
12,Celad,Secteur informatique • ESN ...
13,Mondial Relay,Transport • Logistique
14,Apside,Secteur informatique • ESN
15,ASI,Services aux Entreprises
17,ASI,Services aux Entreprises
18,Geser Best,Services aux Entreprises ...
19,Seenovate,Services aux Entreprises ...
20,Seenovate,Services aux Entreprises ...
21,Experis France,Secteur informatique • ESN ...
22,Adopt',Distribution • Commerce de gr...
23,Consulting Technical Support,Industrie Aéronautique • Aéro...
24,SII Ouest,Secteur informatique • ESN
25,Atos,Secteur informatique • ESN
27,Atos,Secteur informatique • ESN
28,Proxiel,Secteur informatique • ESN ...
29,Scalian,Secteur informatique • ESN ...
31,CGI,Secteur informatique • ESN
32,SII Ouest,Secteur informatique • ESN
33,TRSB,Secteur informatique • ESN ...
34,Utigroup,NaN
35,Manutan,Distribution • Commerce de gr...
37,Alten DDPS,Secteur informatique • ESN ...
38,Groupe Actual,Services aux Entreprises ...
39,Celad,Secteur informatique • ESN ...
40,Hardis Group,NaN
41,Groupement Les Mousquetaires,NaN
42,Cdiscount,Distribution • Commerce de gr...
43,CS GROUP,Secteur informatique • ESN ...
46,CGI,Secteur informatique • ESN
50,BPCE SA,NaN
52,FITECO,Services aux Entreprises ...
53,LR Technologies Groupe,NaN
54,Scalian,Industrie high-tech • Telecom...
56,Geser Best,Services aux Entreprises ...
57,Utigroup,NaN
58,Rhapsodies Conseil,Services aux Entreprises ...
59,Thales,Secteur informatique • ESN
60,Septeo Notaires,Secteur informatique • ESN ...
61,Talents AEC,Services aux Entreprises ...

In [344]:
pd.options.display.max_rows = 1832

In [345]:
df_new[df_new['tags_secteur'].isna()]['entreprise']

34                                   Utigroup
40                               Hardis Group
41               Groupement Les Mousquetaires
50                                    BPCE SA
53                     LR Technologies Groupe
57                                   Utigroup
63                                   Assystem
65                          Timac AGRO France
67                                Groupe ONET
76                                Volvo Group
77                                Volvo Group
80                     LR Technologies Groupe
83                               Hardis Group
87               Groupement Les Mousquetaires
105                               Volvo Group
109                                    Wemoov
117                                     UPTOO
132                                Groupe SEB
133                                   BPCE SA
138                              Groupe Covéa
142          Crédit Agricole Consumer Finance
148                                     UPTOO
168                          Groupe Primonial
169                               Volvo Group
174                                     Ekium
178                                     Mutex
188                                   Financo
190                               Baker Tilly
193                                     AXEAL
197                          UPMAN CONSULTING
199                         ACII By Audensiel
210                                     Extia
211                         SII Ile de France
214                                   BPCE SA
215                               Baker Tilly
219                                     Orano
220                                  Utigroup
221                                  Bassetti
236                         Evoteo Consulting
237                  MOBILIZE POWER SOLUTIONS
238                                    Dalkia
243                            Reboot Conseil
244                                  Conserto
249                       Crédit Mutuel ARKEA
250                               BNP Paribas
251                               Egis Groupe
255                                   Infotel
261                                   Altarea
269                              Rubix France
270                                   Abylsen
280                       Davidson Consulting
288                                     UPTOO
294           Atol Conseils et développements
295           Atol Conseils et développements
301                         Evoteo Consulting
310                               Egis Groupe
312              Groupement Les Mousquetaires
314                                   CMA CGM
315                                   CMA CGM
316                                   CMA CGM
317                                   CMA CGM
320                                  Assystem
322                                  Assystem
327                Crédit Agricole Assurances
332                Crédit Agricole Assurances
333              Groupement Les Mousquetaires
335                                     Extia
337                              METRO France
345                    LR Technologies Groupe
347                                 SII Lille
348                                  Utigroup
350                                Groupe IMA
353              Groupement Les Mousquetaires
366                             Groupe Agrica
391                               CGI Finance
393                         Lerins Technology
394                            Gan Assurances
400                          Bouygues Telecom
408                              Hardis Group
410                            Konica Minolta
415                               Chronodrive
424                         Harmonie Mutuelle
426                          Bouygues Telecom
427                                      SUEZ
439                               Naval Group
441                                 Limagrain
446                                   Servier
456                                     Talan
462                        Ceva Santé Animale
467                                 Carrefour
472                                   Financo
479                         Le Roy Logistique
492                Crédit Agricole Assurances
497                                AddixGroup
502                                     Talan
517                               Naval Group
527                        Ceva Santé Animale
532                                    Nexity
538                          Baldwin Partners
540                                   Financo
549                                    Dalkia
561                         21Bis Recrutement
573                            Gan Assurances
583          Crédit Agricole Consumer Finance
585                                     Talan
599                                      SUEZ
603                              Hardis Group
609                            Gan Assurances
612                          Bouygues Telecom
613                                     Orano
615                               Naval Group
621                              METRO France
622                                 Carrefour
624                       Segula Technologies
626                                 Carrefour
638                                     Talan
642                    Coopérative U Enseigne
651                                 Suravenir
660                         Evoteo Consulting
664                            Gan Assurances
665                               Havea Group
667                          Bouygues Telecom
674                         Harmonie Mutuelle
675                         Harmonie Mutuelle
676                         Harmonie Mutuelle
679                                AddixGroup
682                Crédit Agricole Assurances
683                                  OVHCloud
685                                     Talan
686                                     Talan
690                                    Coexya
694                            SII Atlantique
701                                   BPCE SA
702                              Hardis Group
703                         Evoteo Consulting
709                           Groupe Créative
717                            Sonepar France
719                                 Capgemini
730                         Harmonie Mutuelle
733                                     Extia
741                                    Enedis
753                                  Monoprix
759                Crédit Agricole Assurances
761                               Naval Group
768                                 Framatome
773                             Groupe Trèfle
777                                   Kem One
783                             BCA Expertise
790                                 Carrefour
794       Crédit Agricole Champagne Bourgogne
795                              Rubix France
796                               CGI Finance
799                                     Extia
801                                 Carrefour
809                                AddixGroup
810                          Accenture France
817                                     Orano
821                                 Cdiscount
828                                 Capgemini
835                    LR Technologies Groupe
837                            Dachser France
845                                     Orano
850                                     Talan
851                                     Talan
854                          Carole Dehays RH
867                                    Idemia
868                              Hardis Group
869                              Groupe Covéa
872                              Groupe Samse
882                                     Orano
901                                   Creatis
906                                       PwC
912                           Groupe Atlantic
918                                     Orano
923                                 Carrefour
928                   Grands Moulins de Paris
938                                 Carrefour
948                                       PwC
953                     Générale de téléphone
958                                AddixGroup
959                              Groupe Qérys
975         La Banque Postale Assurances IARD
977                               Volvo Group
987     Crédit Agricole des Régions du Centre
994                             Groupe Trèfle
996                                    U IRIS
1022                                   Reisel
1109                                Tinyclues
1183                                Tinyclues
1346                               DataGalaxy
1589                                  Infotel
1591                                    Qenvi
1610                      Davidson Consulting
1620                        ACII By Audensiel
1621                           Actif Solution
1624                                  Relyens
1627                               Domofrance
1631         Crédit Agricole Consumer Finance
1634                            Groupe Agrica
1637                                 Visiativ
1646                                  Infotel
1652                                  Infotel
1653                                  Infotel
1660                       Arpon Technologies
1661                                    Talan
1668                        Evoteo Consulting
1671                           Groupe Infodis
1675                                    Talan
1682                                 Utigroup
1695                                    Orano
1761                       Estella Consulting
1763                              Egis Groupe
1808                             Hardis Group
1842                         Bouygues Telecom
1852                                 Vivialys
1874                                 Phosphea
1876                      Davidson Consulting
1877                                  PRO BTP
1882                             Geofit Group
1900                              BNP Paribas
1909                       CNS Communications
1912                       CNS Communications
1923                                 Viveris.
1926                             Saint Maclou
1932                   LR Technologies Groupe
1935                               Cristal'ID
1942                  SPIE Building Solutions
1943      MNT Mutuelle Nationale Territoriale
1947                            BCA Expertise
1955                  SPIE Building Solutions
1963                  SPIE Building Solutions
1964                                   U IRIS
1966                  SPIE Building Solutions
1967                        Evoteo Consulting
1973                  SPIE Building Solutions
1991               Crédit Agricole Assurances
1998                              Groupe Avem
1999                             Hardis Group
2001                                    UPTOO
2002                                  Cogedis
2003                                    UPTOO
2005               Crédit Agricole Assurances
2006                                 Utigroup
2009                                     Atyx
2011               Crédit Agricole Assurances
2014                  SPIE Building Solutions
2015                  SPIE Building Solutions
2016                              Groupe Avem
2017                              Groupe Avem
2029                                Capgemini
2036                   LR Technologies Groupe
2037                                    Talan
2038                                 Bassetti
2051               Crédit Agricole Assurances
2056                         Groupe Alphalink
2060                                   Orange
2063                               Groupe SEB
2069                                      SCC
2077                                    Extia
2078                           Actif Solution
2080                         Bouygues Telecom
2088                                   Coexya
2093                      Ocea Smart Building
2094                                   Orange
2095                                   Orange
2101                               AddixGroup
2115                             Hardis Group
2140                  SPIE Building Solutions
2147                                     IDEX
2152                         Bouygues Telecom
2153                              Havea Group
2160                                   Orange
2163                  SPIE Building Solutions
2165                                    Talan
2172                  SPIE Building Solutions
2177                                Capgemini
2197                        SII Ile de France
2198                             Hardis Group
2201                                    Talan
2205                             Hardis Group
2206                             Hardis Group
2207                                      SCC
2217                             Hardis Group
2221                                    UPTOO
2229                                   Orange
2236                              Groupe AGPM
2237                             Hilti France
2242                                     Oméa
2246                                   Kaptys
2249                  SPIE Building Solutions
2250                  SPIE Building Solutions
2260                                   Reisel
2266                                    Valeo
2267                              Groupe Avem
2268                                     Oméa
2275                                Synchrone
2288                               Groupe SEB
2299                                     KPMG
2310                               AddixGroup
2311                         Bouygues Telecom
2315                                   Enedis
2317                         Bouygues Telecom
2320                         UPMAN CONSULTING
2334                           Diehl Metering
2337                             Hardis Group
2339                                     KPMG
2340                              Naval Group
2343                                    Qenvi
2347                                   Enedis
2348                                     KPMG
2349                         Sugar Consulting
2353      Bouygues Energies & Services France
2355      Bouygues Energies & Services France
2367                            Groupe Trèfle
2373                                   Equans
2383                        SII Ile de France
2390                   Groupama Centre Manche
2396                        SII Ile de France
2400                         Bouygues Telecom
2408                                Framatome
2419                                  BPCE SA
2430              Mobilize Financial Services
2437                  SPIE Building Solutions
2438                  SPIE Building Solutions
2439                  SPIE Building Solutions
2442      Bouygues Energies & Services France
2453                              Naval Group
2456                                 Utigroup
2462               Les Grands Chais de France
2465                                  BPCE SA
2466                                   Kaptys
2475                             METRO France
2479                                   Coexya
2483                                   Idkids
2485                                   Coexya
2486                                 Utigroup
2489                              Naval Group
2493                                  Mazars.
2498                            Groupe Trèfle
2508                                      Joa
2515                                  Infotel
2517                                   Enedis
2525                        Happy to meet you
2530                  Atalian Global Services
2587                         Bouygues Telecom
2601                                   Rethic
2603                                 Conserto
2605                                     KPMG
2607                      Davidson Consulting
2621                                     KPMG
2622                                     KPMG
2626                             Groupe Ovalt
2627                         Bouygues Telecom
2628                                   Kaptys
2645                                Stelliant
2650                                Capgemini
2653                                HelloWork
2656                                   Reisel
2663                                      SFR
2664                                      SFR
2668              Mobilize Financial Services
2670                            SII Sud-Ouest
2678                            Martin Brower
2682                                     KPMG
2691      Bouygues Energies & Services France
2715                                      SFR
2717                              CGI Finance
2722                                  Alithya
2723                                  Alithya
2727                                 Conserto
2728                                     KPMG
2735                  Groupama Loire Bretagne
2736                                    UPTOO
2744                                   Axione
2746      Bouygues Energies & Services France
2752                          Groupe Créative
2765                                   U IRIS
2787                                Capgemini
2788                                Capgemini
2791                        Happy to meet you
2801                                     KPMG
2802                                   Enedis
2810                        SII Ile de France
2820                                Capgemini
2825                                      SFR
2833                                     KPMG
2834               Les Grands Chais de France
2836                                Capgemini
2839                              CGI Finance
2857                          Groupe Atlantic
2865                         Accenture France
2867                                     KPMG
2868                                  Stäubli
2870                                 Utigroup
2875               Crédit Agricole Assurances
2876                                  SII Est
2878                              Naval Group
2882                                      SFR
2886                                     KPMG
2887                                     KPMG
2891               Crédit Agricole Assurances
2893                                   Equans
2894                         Bouygues Telecom
2913                              Naval Group
2918                                   Sofrat
2920                                HelloWork
2921                              BNP Paribas
2927                                   Coexya
2933                           SII Atlantique
2936                             Hardis Group
2940                         Bouygues Telecom
2941                                     KPMG
2944                            SII Sud-Ouest
2949                                Capgemini
2980                              BNP Paribas
2983                          Sabena Technics
2992                         Accenture France
2997                                  BPCE SA
2999                                  Relyens
3013                           Bureau Veritas
3029                    Limagrain Ingredients
3034               Voies Navigables de France
3046                        DESCOURS & CABAUD
3056                         Altarea Commerce
3057                                  Indside
3061                                  Infotel
3063                              Naval Group
3064                                    Orano
3073                                  Infotel
3083               Crédit Agricole Assurances
3105                                      LGM
3118                                    Orano
3122                              Naval Group
3125                                Framatome

In [346]:
industry_dict = {
    'Expleo':'Secteur informatique • ESN',
 'Metsys':'Secteur informatique • ESN',
 'Inetum':'Secteur informatique • ESN',
 'Guarani':'Secteur informatique • ESN',
 'Comptalents':'Services aux Entreprises',
 'PERSUADERS RH':'Services aux Entreprises',
 'Seenovate':'Secteur informatique • ESN',
 'Promovacances':'Tourisme • Hôtellerie • Loisirs',
 'Ethika':'Services aux Entreprises',
 'DenAvel':'Services aux Entreprises',
 'Chronopost':'Services aux Personnes • Particuliers',
 'Chronopost':'Services aux Personnes • Particuliers',
 'Celad':'Secteur informatique • ESN',
 'Mondial Relay':'Transport • Logistique',
 'Apside':'Secteur informatique • ESN',
 'ASI':'Services aux Entreprises',
 'ASI':'Services aux Entreprises',
 'ASI':'Services aux Entreprises',
 'Geser Best':'Services aux Entreprises',
 'Seenovate':'Secteur informatique • ESN',
 'Seenovate':'Secteur informatique • ESN',
 'Experis France':'Secteur informatique • ESN',
 "Adopt'":'Distribution • Commerce de gros',
 'Consulting Technical Support':'Services aux Entreprises',
 'SII Ouest':'Secteur informatique • ESN',
 'CS GROUP':'Secteur informatique • ESN',
'IT Link':'Secteur informatique • ESN',
'CGI':'Secteur informatique • ESN',
'We IT':'Secteur informatique • ESN',
'Atos':'Secteur informatique • ESN',
'Open':'Secteur informatique • ESN',
'Decathlon Technology':'Distribution • Commerce de gros',
'Silkhom':'Services aux Entreprises',
'Devoteam':'Secteur informatique • ESN',
'Inetum':'Secteur informatique • ESN',
'Scalian':'Industrie high-tech • Telecom',
'Seyos':'Services aux Entreprises',
'CEA':'Services aux Entreprises',
'Sopra Steria':'Secteur informatique • ESN',
'U-Need SAS':'Secteur informatique • ESN',
'Fortil':'Secteur informatique • ESN',
'EY':'Services aux Entreprises',
'L2C Recrutement':'Secteur informatique • ESN',
'Alteca':'Secteur informatique • ESN',
'STMicroelectronics':'Industrie high-tech • Telecom',
'ASI':'Services aux Entreprises',
'Team.is':'Secteur informatique • ESN',
'Orange Business':'Secteur informatique • ESN',
'Publicis Groupe':'Média • Internet • Communication',
'Generali':'Banque • Assurance • Finance',
'CNRS':'Service public des collectivités territoriales',
'Externatic':'Services aux Entreprises',
'Econocom':'Secteur informatique • ESN',
'Seenovate':'Secteur informatique • ESN',
'Manpower':'Services aux Entreprises',
'SQLI':'Secteur informatique • ESN',
'SNEF':'BTP',
'PSA Retail France SAS':'Distribution • Commerce de gros',
'Michael Page':'Services aux Entreprises',
'Thales':'Secteur informatique • ESN',
'Direction Générale de la Sécurité Extérieure':'Service public des collectivités territoriales',
'Expectra':'Distribution • Commerce de gros',
'Ekimetrics':'Secteur informatique • ESN',
'Alstom':'Secteur Energie • Environnement',
'Groupagora':'Secteur informatique • ESN',
'Content Square':'Secteur informatique • ESN',
'Hays':'BTP',
'Artefact':'Secteur informatique • ESN',
'Crédit Agricole Group Infrastructure Plateform':'Banque • Assurance • Finance',
'Havana IT & Apps':'Secteur informatique • ESN',
'Datadog':'Secteur informatique • ESN',
'Groupe Dékuple':'Média • Internet • Communication',
'Luminess':'Média • Internet • Communication',
'Claranet':'Secteur informatique • ESN',
'Capgemini engineering':'Industrie Auto • Meca • Navale'
 
    # Add more entries as needed
}

# Check for NaN values in the tags_secteur column
nan_tags_secteur = df_new['tags_secteur'].isna()

# Use map() method on rows with NaN tags_secteur value
df_new.loc[nan_tags_secteur, 'tags_secteur'] = df_new.loc[nan_tags_secteur, 'entreprise'].map(industry_dict)

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [347]:
entreprise_list=df_new['entreprise'].tolist()

In [348]:
df1[['entreprise', 'tags_secteur']] = df_new[['entreprise', 'tags_secteur']]

In [349]:
df1.to_csv('/Users/leenaomrani/Desktop/final-project/all_jobs_data_new.csv')

In [350]:
df1.shape

(4163, 25)

In [352]:
df1.head()

,id_offre,entreprise,type_contrat,modalites_de_tetetravail,url,titre_job,date_publication,url_offre_x,descriptif_job,Code Postale,...,tags_education,programming_languages,tools,cloud,libraries,frameworks,Ville_duplicate,Région,Code Postale,Code Postale_duplicate
0,33126348,Expleo,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/331263...,Docteur - R&D - Data ...,21/04/2023,https://www.hellowork.com/fr-fr/emplois/331263...,En savoir plus :Expleo propose une offre ...,Montigny,...,,[R],[],[],[],[],Montigny,Île-de-France,78,78
1,28529628,Metsys,CDI ...,Télétravail partiel,https://www.hellowork.com/fr-fr/emplois/285296...,Consultant Senior Dat...,30/04/2023,https://www.hellowork.com/fr-fr/emplois/285296...,Nous recherchons un(e) Consultant(e) seni...,Strasbourg,...,,[],[],[],[],[],Strasbourg,Alsace,67,67
2,34026902,Inetum,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/340269...,Data Tech Lead ...,04/11/2023,https://www.hellowork.com/fr-fr/emplois/340269...,"Nous sommes une ESN agile, un groupe inte...",Lyon,...,,[],[],[],[],[],Lyon,Rhône-Alpes,69,69
3,30169855,Guarani,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/301698...,Business Analyst Data...,04/12/2023,https://www.hellowork.com/fr-fr/emplois/301698...,Présentation Entreprise :GUAR...,Nantes,...,,[R],[],[],[],[],Nantes,Pays de la Loire,44,44
4,30175625,Comptalents,CDI ...,NaN,https://www.hellowork.com/fr-fr/emplois/301756...,Assistant Comptable D...,04/12/2023,https://www.hellowork.com/fr-fr/emplois/301756...,Besoin de changement ? Ce cab...,Tours,...,Bac+ 2 Bac+ 3Bac+ 4,[R],[],[],[],[],Tours,Centre,37,37